tile=res/tilesx32.png
tile_size=32
map=data/map2.txt
step=100
delay=200
tile_list=CHAR.0,CHAR. ,CHAR.U,CHAR.V,CHAR.W,CHAR.X,CHAR.Y,CHAR.Z,CHAR.S,CHAR.T,CHAR.-,CHAR.|,CHAR.a,CHAR.A,CHAR.b,CHAR.B,EFFECT.FIRE_S,EFFECT.FIRE_M,EFFECT.FIRE_L,EFFECT.BULLET_S,EFFECT.BULLET_M
CHAR.0=(0,4)
CHAR. =(4,3)
CHAR.U=(0,1)
CHAR.V=(5,4)
CHAR.W=(5,1)
CHAR.X=(2,6)
CHAR.Y=(8,3)
CHAR.Z=(8,5)
CHAR.S=(4,4)
CHAR.T=(3,4)
CHAR.-=(1,3)
CHAR.|=(0,3)
CHAR.a=(7,0)
CHAR.A=(8,0)
CHAR.b=(7,1)
CHAR.B=(8,1)
EFFECT.FIRE_S=(0,0)
EFFECT.FIRE_M=(1,0)
EFFECT.FIRE_L=(2,0)
EFFECT.BULLET_S=(3,0)
EFFECT.BULLET_M=(4,0)
