tile=res/tilesx32.png
tile_size=32
map=data/map3.txt
delay=50
turn_base=false
tile_list=WATER,LAND,BLOCK.U,BLOCK.V,BLOCK.W,BLOCK.X,BLOCK.Y,BLOCK.Z,BLOCK.S,BLOCK.T,HEAD.a,HEAD.b,BRIDGE.-,BRIDGE.|,TANK.A,TANK.B,EFFECT.FIRE_S,EFFECT.FIRE_M,EFFECT.FIRE_L,EFFECT.BULLET_S,EFFECT.BULLET_M
WATER=(0,4)
LAND=(4,3)
BLOCK.U=(0,1)
BLOCK.V=(5,4)
BLOCK.W=(5,1)
BLOCK.X=(2,6)
BLOCK.Y=(8,3)
BLOCK.Z=(8,5)
BLOCK.S=(9,4)
BLOCK.T=(4,6)
BRIDGE.-=(1,3)
BRIDGE.|=(0,3)
HEAD.a=(4,4)
HEAD.b=(3,4)
TANK.A=(8,0)
TANK.B=(8,1)
EFFECT.FIRE_S=(0,0)
EFFECT.FIRE_M=(1,0)
EFFECT.FIRE_L=(2,0)
EFFECT.BULLET_S=(3,0)
EFFECT.BULLET_M=(4,0)
